*
#analysis
#analysis/*
!analysis/README.md
!config
!config/*
resources
resources/*
!workflow
!workflow/**
!workflow/*
results
results/**
.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
.snakemake/*

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

### JupyterNotebooks template
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
